fastapi==0.116.1
uvicorn[standard]==0.38.0
pydantic==2.12.4

chromadb==1.4.0
sentence-transformers==5.1.2
transformers
torch

numpy==2.2.6
requests==2.32.5
tqdm==4.67.1

python-dotenv
python-multipart
opencc-python-reimplemented